* {
    --black-primary: black;
    --white-primary: rgb(243, 238, 238);
    --orange-primary: rgb(223, 111, 13);
    box-sizing: border-box;
}

body{
    background-color: var(--black-primary);
    color: var(--white-primary);
    margin: 0;
    padding: 0;
    font-family: 'Inter','Open Sans','Roboto', sans-serif;
}
h1{
    font-size: 3.1rem;
}

p{
    line-height: 1.5;
}

a{
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: .5rem;
}

.logo img {
    width: 200px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

nav a {
    color: var(--orange-primary);
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
    border: 3px solid transparent;
}

nav ul a:hover {
    border-bottom: 3px solid var(--orange-primary);
    color: var(--orange-primary);
}

/* fin header */
/* start main */

main {
    background-image: url(./imagenes/26102.jpg);
    height: 600px;
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    margin: 20px;
}

.contenedorTextoPrincipal{
    width: 60%;
    margin-top: -90px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 2rem;
    box-shadow: 0 0 20px 20px rgba(3, 3, 3, 0.65);
    transition: all 0.3s ease-out;
}

.contenedorTextoPrincipal:hover{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px 20px rgba(3, 3, 3, 0.85);
    color: var(--orange-primary);
}

/* MÁS VENDIDOS */

#masVendidos{
    margin: auto;
    padding: 70px 20px;
    height: 910px;
    background: rgb(0,0,0);
}

#masVendidos h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

#masVendidos h2{
    font-size: 1.35rem;
    border-bottom: 3px solid var(--orange-primary);
    padding-bottom: 13px;
}

#masVendidos div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#masVendidos article {
    width: 23%;
}

#masVendidos img {
    width:100%;
    height: 416px;
}

#masVendidos p{
    font-size: 14px;
    margin-bottom: 1.7rem;
}

#masVendidos a {
    padding: .5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--orange-primary);
    border: 2px solid var(--orange-primary);
    color: var(--black-primary);
    transition: all 0.2s ease-in;
}

#masVendidos a:hover {
    background-color: var(--black-primary);
    color: var(--orange-primary);
}

/* MAS VENDIDOS fin */
/* TEMATICAS */

#tematica {
    height: 1400px;
}

#tematica h1 {
    text-align: center;
    background-color: var(--orange-primary);
    color: var(--black-primary);
    padding: 1.7rem;
    margin: 0 0 80px;
}

#tematica .grid-container{
    display: grid;
    grid-template-columns: repeat(6,160px);
    justify-content: center;
    width: 1200px;
    margin: auto;
    gap: 5px;
}

#tematica img {
    width: 100%;
    height: 235px;
    border-radius: 4px;
}

#tematica article{
    transition: all 0.3s ease-in-out;
    
}

#tematica article:hover {
    transform: scale(1.07);
}

#grid1 {
    grid-row: 1/3;
    grid-column: 1/3;
}

#grid2 {
    grid-row: 2/4;
    grid-column: 4/6;
}

#grid3{
    grid-row: 4/6;
    grid-column: 3/5;
}

#grid1 img, #grid2 img, #grid3 img {
    height: 480px;
}

/* OFERTA ESPECIAL */

#ofertas {
    padding: 80px;
    height: 1285px;
}

#ofertas h1, #ofertas h2 {
    text-align: center;
}

#ofertas h1, #ofertas h2, #ofertas h3{
    margin-top: 0;
}

#ofertas h2 {
    font-size: 2rem;
}

#ofertas a {
    padding: 12px 20px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    transition: all 0.3s ease-out;
}

#ofertas a:hover{
    border-radius: 25px;
}

#ofertaEspecial{
    padding-top: 50px;
}

#ofertaEspecial article, #otrasOfertas article{
    background-color: var(--orange-primary);
    color: var(--black-primary);
}
#ofertaEspecial article{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 65px;
    width: 1200px;
}

#ofertaEspecial img {
    width: 50%;
}

#ofertaEspecial div {
    width: 50%;
    padding: 55px;
}

#ofertaEspecial h2 {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

#ofertaEspecial h3{
    margin-bottom: 0;
}

#ofertaEspecial .descuento{
    vertical-align: super;
    margin-bottom: 0;
}

#ofertaEspecial table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
    margin: 30px 0 15px;
}

#ofertaEspecial table, #ofertaEspecial tr, #ofertaEspecial td, #ofertaEspecial th{
    border: 2px solid black;
    padding: 5px;
}
#ofertaEspecial th{
    background-color: rgb(196, 95, 7);
}

#ofertaEspecial td:nth-child(odd) {
    text-decoration: line-through;
}
#ofertaEspecial a {
    display: inline-block;
    margin-top: 20px;
}

#otrasOfertas, #ofertaEspecial{
    border-top: 5px solid var(--orange-primary);
}

#otrasOfertas h2{
    padding-top: 50px;
    margin-bottom: 40px;
    width: 100%;
}
#otrasOfertas div {
    display: flex;
    justify-content: space-between;
}
#otrasOfertas div article{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    border-radius: 8px;
    width: 28%;
}

#otrasOfertas div article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.descuento{
    margin-bottom: 20px;
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    background-color: darkblue;
    border-radius: 10px;
    width: fit-content;
    color: white;
}

#otrasOfertas h3 {
    margin: 0;
}

#otrasOfertas img {
    width: 120px;
}

#otrasOfertas a{
    padding: 7px 11px;
}


/* CONTACTO */

#contacto {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    height: 550px;
    background-color: var(--orange-primary);
    color: var(--black-primary);
}

#contacto h1 {
    text-align: center;
    font-family: 2.5rem;
}

#contacto textarea{
    resize: none;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 25px;
}

form {
    display: flex;
    justify-content: center;
    gap: 70px;
    
}

form input[type=text], input[type=email] {
    width: 100%;
}

form select {
    width: 45%;
    display: inline-block;
    margin-right: 55px;
    font-weight: bold;
}

form input[type=text], input[type=email], select {
    padding: 9px;
}
form div {
    width: 40%;
}
input, textarea, label {
    display: block;
    font-weight: bold;
}

input, textarea{
    margin-bottom: 18px;
    font-family: inherit;
    font-size: 13px;
}

input, textarea, select{
    border: 0;
    background-color: var(--black-primary);
    color: var(--orange-primary);
}
label {
    margin-bottom: 5px;
}

.label-novedades {
    font-size: 13px;
}

.label-novedades, #novedades {
    display: inline-block;
}

select:hover {
    background-color: black;
    color: var(--orange-primary);
}

input[type=submit]{
    box-sizing: border-box;
    float: right;
    padding: .3rem 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: 4px solid transparent;
}

input[type=submit]:hover{
    background-color: var(--orange-primary);
    border: 4px solid black;
    color: var(--black-primary);
}

input[type=checkbox]{ 
    accent-color: var(--black-primary);
    width: 17px;
    height: 17px;
    cursor: pointer;
}

/* FOOTER */
footer {
    padding: 2rem;
    text-align: center;
}

footer span {
    font-size: 1.5rem;
    font-weight: bold;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1.5rem;
}

footer i {
    font-size: 2.2rem;
    cursor: pointer;
}

footer a {
    color: aliceblue;
}

footer a:hover {
    color: var(--orange-primary);
}